:root {
    --clr-gold: #F4C474;
    --clr-linear-gold: linear-gradient(135deg, #ECBF6F 0%, #C09E50 100%);
    --clr-text: #EEE;
    
    --container-max-width: 1000px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111111;
    background-image: linear-gradient(to right, #111111 0% 20%, #000000 20% 100%);
    color: var(--clr-text);
    font-family: sans-serif;
    padding-inline: 3rem;
    /* overflow: hidden; */
}

*, 
*::before, 
*::after {
    margin: 0;
    box-sizing: border-box;
} 

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    padding-block: 1rem;
    position: relative;
    transition: all 1200ms ease-in-out;
    
    /* position: fixed;
    inset: 0; */
}

.container > * {
    background: transparent;
}

.home-img {
    width: 100%;
    min-height: 100%;
    background-image: url(images/blazer-front-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70%;
    position: absolute;
    top: .5rem;
    right: -15px;
    z-index: -1;
}

.left {
    width: 40%;
    padding-right: 3rem;
}

h1 {
    font-size: 80px;
    margin: 0 0 25px -40px;
}

p {
    font-size: 18px;
    margin: 0 0 30px 0;
    line-height: 2;
}

button {
    font-size: 20px;
    font-weight: 600;
    padding: 1.3rem;
    width: 100%;
    color: var(--clr-text);
    background: var(--clr-gold);
    border: none;
    border-radius: 50vw;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

button:hover {
    background: #c59d59;
}

/* ===== RIGHT ===== */

.right {
    margin-top: 10rem;
    padding-left: 6rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    position: absolute;
    font-size: 25px;
    top: 2rem;
    right: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    transition: color 100ms ease-in-out;
    margin-left: 7rem;
}

li:hover, li:active {
    color: var(--clr-gold);
}

/* profile icon */
nav img {
    width: 30px;

    color: var(--clr-text);
    fill: var(--clr-text);
}

h3 {
    color: var(--clr-gold);
    margin-top: -2.1rem;
    font-size: 1.5rem;
}

/* ===== LOG IN ===== */

.login button {
    float: right;
    max-width: 200px;
    margin-top: -1.3rem;
}

.login input {
    left: 9rem;
}


/* ===== REGISTRATION PAGE ===== */

.sign-up {
    position: relative;
    min-height: 100vh;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    transition: all 1200ms ease-in-out;

    /* position: fixed; */
    /* inset: 0; */
}

.sign-up-img {
    min-height: 100%;
    width: 100%;
    background-image: url(images/blazer-back-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70%;
    position: absolute;
    top: .5rem;
    right: -15px;
    z-index: -1;
}

.form-group {
    margin-bottom: 2.3rem;
    border-bottom: 4px solid gray;
    border-radius: .2rem;
    padding-bottom: .75rem;
    position: relative;
}

label {
    font-size: 24px;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

input, select {
    background: transparent;
    border: none;
    outline: none;
    color: var(--clr-gold);
    font-size: 1.5rem;
    position: relative;
    left: 14rem;
    width: calc(100% - 14rem);
}

input[type=color] {
    max-width: 150px;
}


form:invalid > button {
    cursor: wait;
}

.sign-up button {
    position: relative;
    max-width: 300px;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    float: right;
}

.active {
    color: var(--clr-gold);
}