:root {
    --clr-gold: #F4C474;
    --clr-linear-gold: linear-gradient(135deg, #ECBF6F 0%, #C09E50 100%);
    --clr-text: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111111;
    background-image: linear-gradient(to right, #111111 0% 20%, #000000 20% 100%);
    color: var(--clr-text);
    font-family: sans-serif;
    padding-inline: 2rem;
    overflow: hidden;
}

*, 
*::before, 
*::after {
    margin: 0;
    box-sizing: border-box;
} 

.container {
    background-color: #000000;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    padding-left: 9rem;
}

.left {
    max-width: 40%;
    margin-left: -11rem;
    overflow: visible;
    padding-right: 3rem;
    padding-top: 1rem;
}

.left .content {
    /* width: 500px; */
    /* background: blue; */
}

 h1 {
    font-size: 80px;
    margin: 0 0 25px -40px;
}

p {
    font-size: 18px;
    margin: 0 0 30px 0;
    line-height: 2;
}

button {
    font-size: 20px;
    font-weight: 600;
    padding: 1.6rem 4.5rem;
    color: var(--clr-text);
    background-image: var(--clr-linear-gold);
    border: none;
    border-radius: 50vw;
    cursor: pointer;
    transition: opacity 100ms ease-in-out;
}

button:hover {
    opacity: .9;
}


.right {
    padding-left: 5rem;
    padding-top: 4rem;
    /* max-width: 100%; */
    background-image: url(images/blazer-front-img.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    font-size: 25px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    transition: color 100ms ease-in-out;
}

li:hover, li:active {
    color: var(--clr-gold);
}

h3 {
    color: var(--clr-gold);
    margin-top: -2.1rem;
    font-size: 1.5rem;
}


.sign-up {
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1rem;
}

.sign-up-img {
    height: 95vh;
    width: 60vw;
    background-image: url(images/blazer-back-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 1rem;
    right: -17rem;
    z-index: -1;
}

.form-group {
    margin-bottom: 2.5rem;
    border-bottom: 4px solid gray;
    border-radius: .2rem;
    padding-bottom: 1rem;
    position: relative;
}

label {
    font-size: 24px;
    position: absolute;
    width: 100%;
}

input, select {
    background: transparent;
    border: none;
    outline: none;
    color: var(--clr-gold);
    font-size: 1.5rem;
    position: relative;
    left: 14rem;
    width: calc(100% - 14rem);
}

input[type=color] {
    min-width: 100px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    position: relative;
    margin-top: -2.2rem;
    bottom: -3.5rem;
}